<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yamba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".RefreshService"></service>
        <provider
            android:authorities="com.example.yamba.StatusProvider"
            android:name=".StatusProvider"
            android:exported="false" />
        <activity android:name=".StatusActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.yamba.YambaWidget"
            android:exported="false" >
            <intent-filter>
                <action android:name="NEW_STATUSES" />
            </intent-filter>
            <intent-filter>
                <action android:name=
                    "android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/yamba_widget" />
        </receiver>

    </application>

</manifest>